body{
    background-color: coral;
    background-color: rgba(0,255,0, 0.75); /* rgb 0-255 */
    background-color: #999999;
    
    /* how to write a commect in css */
}

h1{
    font-family:sans-serif;
}
h2{
    font-family:cursive;
}