@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,500;1,500&display=swap');
body{
    background-color: coral;
    background-color: rgba(0,255,0, 0.75); /* rgb 0-255 */
    background-color: #f15f1051;
    
    /* how to write a commect in css */
}

header{
    width: 960px;
    background-color:rgba(255, 0, 0, 0.718);
    padding: 20px;
    border: 5px solid orange;
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

main{
    width: 960px;
    background-color: rgba(255, 132, 8, 0.374);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 5px dotted blue;
    border-right: 5px dotted blue;
    border-top: 5px dotted blue;
    border-bottom: 5px dotted blue;
    margin: 0px auto; /* sets top and bottom to 0px & left and right to auto*/
}

footer{
    width: 960px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    /* use height: 50px; if there is no text in footer */
    background-color:rgba(255, 0, 0, 0.618);
    border: 5px solid orange;
}

h1{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: italic;

}
h2{
    font-family:cursive;
    text-transform: capitalize; /* Capitalizes first letter of every word */
}

ul{
    list-style: square;
}

p{
    width: 960px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
    border: 6px transparent rgb(0, 17, 255);
}

/*ul li{
    color: blue
} changes color of words */

/*ul li{
    text-decoration: underline;
} underline all non-ordered list*/

a {
    text-decoration: none;
}

a:hover{
    color: rgb(255, 242, 0);
}

img{
    width: 300px;
    /* height: 100px
    use width or height when setting img size*/ 
}

.imageGallery{
    width: 200px;
}

.grey{
    color: rgba(0, 52, 66, 0.901);
}

.redBackground{
    background-color:rgba(255, 70, 76, 0.472)
}


nav{
    width: 400px; 
    margin: 10px auto;
    border-bottom: black 2px solid;
}

nav ul{

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

nav ul li a:hover{
    background-color: rgb(145, 0, 0);
}